@import url('https://fonts.cdnfonts.com/css/astron-boy-wonder');

:root {
    --orange: #F07167;
    --black: #000000;
    --gray: #dcdcdc;
    --white: #ffffff;
    --green: #24a48a;
    --red: #d34f4f;
    --blue: #435baf;
    --purple: #bf40bf;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.container1 {
    scroll-snap-type: y mandatory !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
    height: 100vh !important;
    scroll-behavior: smooth !important;
    scrollbar-width: none !important;
}

.container1 section {
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    scroll-snap-align: start !important;
}

#resume {
    background-color: var(--blue);
}

#portfolio {
    background-color: var(--purple);
}

#testimonials {
    background-color: var(--green);
}

#contact {
    background-color: var(--red);
}

.side-nav {
    width: 64px;
    position: fixed;
    z-index: 1;
    top: 256px;
    right: 64px;
    background: var(--orange);
    overflow-x: hidden;
    border-radius: 64px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.side-nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
    width: 64px;
    height: 64px;
    align-items: center;
    align-content: center;
}

.icon {
    width: 32px;
    margin: 10px;
}

.home-description {
    padding: 50px !important;
    align-content: center;
}

.home-description h1 {
    font-size: 45px;
}

.home-description h2 {
    font-size: 85px;
}

.home-description h3 {
    background-color: var(--orange);
    /* padding: 4px !important; */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    width: fit-content;
    color: var(--white);
}

.home-description p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    font-weight: bold;
}

#user-name {
    font-size: 65px;
    font-family: 'Astron Boy Wonder', sans-serif !important;
    color: var(--orange);
}

.button {
    margin-top: 20px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--orange);
    line-height: 0 !important;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-40 {
    margin: 40px;
}

.margin-60 {
    margin: 60px;
}

.align-center {
    align-items: center;
}

.disp-block {
    display: block;
}

.disp-flex {
    display: flex;
}

.bg-gray {
    background-color: var(--gray);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}

.text-center {
    text-align: center;
}

.content-center {
    align-content: center;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.display-flex {
    display: flex;
}

.text-bold {
    font-weight: bold;
}

.text-large {
    font-size: large;
}

.text-larger {
    font-size: larger;
}

.text-medium {
    font-size: medium;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.height-100 {
    height: 100vh;
}

.height-80 {
    height: 80vh;
}

.height-60 {
    height: 60vh;
}

.height-40 {
    height: 40vh;
}

.height-20 {
    height: 20vh;
}